*.gcda
*.gcno
*.la
*.lo
*.o
*~
.deps
.libs
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/lcov.html
/lcov.info
/lcov.info.tmp
/libtool
/stamp-h1
Makefile
Makefile.in
INSTALL
build-aux/
conndlgs/pin-code-correct
conndlgs/startup-pin-query

#debian
debian/tmp
debian/connui-cellular-settings/
debian/connui-conndlgs-cellular/
debian/connui-home-cellular/
debian/connui-iapsettings-gprs/
debian/connui-statusbar-cellular/
debian/libconnui-cellular/
debian/libconnui-cellular-dev/
debian/.debhelper/
debian/*debhelper*
debian/autoreconf*
debian/files
debian/*.substvars

#generated stuff
lib/org.ofono.*
lib/connui-cell-marshal.*
connui-cellular.pc
