Source: connui-cellular
Section: x11
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 9), libhildon1-dev, libconnui-dev (>= 2.89.0),
 libconbtui0-dev (>= 2.88.17), connui-iapsettings-dev (>= 2.78.11),
 osso-af-settings, libosso-dev, icd2-dev, icd2-osso-ic-dev,
 libhildondesktop1-dev, osso-af-settings, libcodelockui1-dev,
 hildon-control-panel-dev, libtelepathy-glib-dev, maemo-launcher-dev,
 maemo-system-services-dev, libxml2-dev
Standards-Version: 3.7.2

Package: connui-iapsettings-gprs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Internet Settings UI for GPRS IAPs
 This package provides the Internet Settings UI plugin that allows you to
 create, edit and delete GPRS Internet Access Point configurations.

Package: connui-statusbar-cellular
Architecture: any
Replaces: osso-connectivity-ui-statusbar
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-icons-default | osso-icons, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0
Conflicts: osso-connectivity-ui-statusbar
Description: Cellular Connectivity statusbar plugin
 This package provides the Cellular Connectivity statusbar plugin.

Package: libconnui-cellular
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mobile-broadband-provider-info
Description: Common cellular functionality for Connectivity UI
 This library provides common cellular functionality for Connectivity UI
 components. Such functionality includes:
  * PIN handling
  * Cellular network status
  * Cellular network listing and selection
  * Supplementary Services

Package: libconnui-cellular-dev
Architecture: any
Depends: libconnui-cellular (= ${binary:Version})
Description: Description: libconnui-cellular development files
 This package contains the files needed for developing applications that
 use libconnui-cellular.

Package: connui-home-cellular
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: operator-name-cbs-widget (<< 3.0)
Description: Cellular UI operator name home plugin
 Home plugin for showing the current cellular operator.
 .
 It has additional support for Cell Broadcast SMS
 which show for example Cellular network info.
 
Package:  connui-cellular-settings
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0
Description: Cellular UI control panel applet
 Cellular settings as a control panel applet

Package: connui-conndlgs-cellular
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${launcher:Depends}, connui-conndlgs, matchbox-window-manager, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0
Description: Cellular UI Dialogs
 This package provides the dialogs for cellular that are activated via
 Conndlgs daemon.
