#!/usr/bin/make -f

#export DH_VERBOSE=1

ifeq (,$(findstring nolauncher,$(DEB_BUILD_OPTIONS)))
ENABLE_LAUNCHER += --enable-maemo-launcher
endif

DEB_CONFIGURE_EXTRA_FLAGS = $(ENABLE_LAUNCHER) --disable-static --prefix=/usr --sysconfdir=/etc --libdir=/usr/lib

CFLAGS += -Werror

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_install:
	dh_install
	dh_maemolauncher -p connui-conndlgs-cellular
